{{ ansible_managed | comment }}

[Unit]
Description=go-apt-mirror

[Service]
Type=simple
ExecStart=/usr/local/bin/go-apt-mirror
SyslogIdentifier=go-apt-mirror
KillMode=process
KillSignal=TERM
Restart=always
MemoryMax=90%

[Install]
WantedBy=multi-user.target
